<a href="https://colab.research.google.com/github/vrhughes/DS3001Group/blob/main/Results/Group%20Stage%20Data/VH_Data_kaggle1_V4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Cloning the data over from Github
! git clone https://github.com/vrhughes/DS3001Group

Cloning into 'DS3001Group'...
remote: Enumerating objects: 258, done.
remote: Counting objects: 100% (132/132), done.
remote: Compressing objects: 100% (119/119), done.
remote: Total 258 (delta 78), reused 7 (delta 7), pack-reused 126 (from 1)
Receiving objects: 100% (258/258), 2.03 MiB | 4.77 MiB/s, done.
Resolving deltas: 100% (120/120), done.

In [2]:
# Importing relevant packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
# Saving all of the group AND finals data to a dataframe variable
data = pd.read_csv('https://raw.githubusercontent.com/vrhughes/DS3001Group/main/Data/kaggle1.csv')

# Taking an initial look at the data
#display(data)

# Removing variables that are superfluous and/or unrelated to match performance
data = data.drop(['date', 'hour', 'left channel team1', 'left channel team2', 'left inside channel team1', 'left inside channel team2', 'central channel team1', 'central channel team2', 'right inside channel team1', 'right inside channel team2', 'right channel team1', 'right channel team2', 'own goals team1', 'own goals team2', 'possession in contest'], axis=1)
data = data.drop(['total offers to receive team1', 'total offers to receive team2', 'inbehind offers to receive team1', 'inbehind offers to receive team2', 'inbetween offers to receive team1', 'inbetween offers to receive team2', 'infront offers to receive team1', 'infront offers to receive team2', 'receptions between midfield and defensive lines team1', 'receptions between midfield and defensive lines team2', 'attempted line breaks team1', 'attempted line breaks team2', 'completed line breaksteam1', 'completed line breaks team2', 'attempted defensive line breaks team1', 'attempted defensive line breaks team2', 'switches of play completed team1', 'switches of play completed team2'], axis=1)

# Adjusting the names of some incorrect data
data = data.rename(columns={'attempts inside the penalty area  team2': 'attempts inside the penalty area team2'})
data = data.rename(columns={'attempts outside the penalty area  team1': 'attempts outside the penalty area team1'})
data = data.rename(columns={'attempts outside the penalty area  team2': 'attempts outside the penalty area team2'})
data = data.rename(columns={'completed defensive line breaksteam1': 'completed defensive line breaks team1'})

# Because our only goal with this data is to look at group stage results, we'll remove finals data
group_stage_data = data[data['category'].str.contains('Group')]
# Removed about 16 rows of finals data

# Adding another column to the group_stage_data that's true if team1 has more goals and false if team2 has more goals:
group_stage_data['team1 won'] = group_stage_data['number of goals team1'] > group_stage_data['number of goals team2']
group_stage_data.head()

<ipython-input-13-3dc7b5331a6a>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group_stage_data['team1 won'] = group_stage_data['number of goals team1'] > group_stage_data['number of goals team2']

,team1,team2,possession team1,possession team2,number of goals team1,number of goals team2,category,total attempts team1,total attempts team2,conceded team1,...,free kicks team2,penalties scored team1,penalties scored team2,goal preventions team1,goal preventions team2,forced turnovers team1,forced turnovers team2,defensive pressures applied team1,defensive pressures applied team2,team1 won
0,QATAR,ECUADOR,42%,50%,0,2,Group A,5,6,2,...,17,0,1,6,5,52,72,256,279,False
1,ENGLAND,IRAN,72%,19%,6,2,Group B,13,8,2,...,10,0,1,8,13,63,72,139,416,True
2,SENEGAL,NETHERLANDS,44%,45%,0,2,Group A,14,9,2,...,14,0,0,9,15,63,73,263,251,False
3,UNITED STATES,WALES,51%,39%,1,1,Group B,6,7,1,...,15,0,1,7,7,81,72,242,292,False
4,ARGENTINA,SAUDI ARABIA,64%,24%,1,2,Group C,14,3,2,...,16,1,0,4,14,65,80,163,361,False

Now that we've removed most of the irrelevant data we have a clearer view and can ask some questions.

In [4]:
####################################################################################################

Given how limited our data is, it will be difficult to run a comprehensive regession on the outcome of the finals matches.

We will run a logit regression on the deltas between the variables corresponding to team1 and team2 that can then be used to predict individual match outcomes.

In [5]:
# Multi-nomial logit
# Use Sci-Kit to run

# Use Sci-Kit to run regression on did home team win times deltas between different variables

In [34]:
# Creating a new dataframe that represents the differences between team1 and team2 for each variable
deltas = group_stage_data[['team1 won']].copy()

deltas['possession'] = group_stage_data['possession team1'].str.rstrip('%').astype('float') / 100.0 - group_stage_data['possession team2'].str.rstrip('%').astype('float') / 100.0
deltas['total attempts'] = group_stage_data['total attempts team1'] - group_stage_data['total attempts team2']
deltas['conceded'] = group_stage_data['conceded team1'] - group_stage_data['conceded team2']
deltas['goal inside the penalty area'] = group_stage_data['goal inside the penalty area team1'] - group_stage_data['goal inside the penalty area team2']
deltas['goal outside the penalty area'] = group_stage_data['goal outside the penalty area team1'] - group_stage_data['goal outside the penalty area team2']
deltas['assists'] = group_stage_data['assists team1'] - group_stage_data['assists team2']
deltas['on target attempts'] = group_stage_data['on target attempts team1'] - group_stage_data['on target attempts team2']
deltas['off target attempts'] = group_stage_data['off target attempts team1'] - group_stage_data['off target attempts team2']
deltas['attempts inside the penalty area'] = group_stage_data['attempts inside the penalty area team1'] - group_stage_data['attempts inside the penalty area team2']
deltas['attempts outside the penalty area'] = group_stage_data['attempts outside the penalty area team1'] - group_stage_data['attempts outside the penalty area team2']
deltas['completed defensive line breaks'] = group_stage_data['completed defensive line breaks team1'] - group_stage_data['completed defensive line breaks team2']
deltas['yellow cards'] = group_stage_data['yellow cards team1'] - group_stage_data['yellow cards team2']
deltas['red cards'] = group_stage_data['red cards team1'] - group_stage_data['red cards team2']
deltas['fouls against'] = group_stage_data['fouls against team1'] - group_stage_data['fouls against team2']
deltas['offsides'] = group_stage_data['offsides team1'] - group_stage_data['offsides team2']
deltas['passes'] = group_stage_data['passes team1'] - group_stage_data['passes team2']
deltas['passes completed'] = group_stage_data['passes completed team1'] - group_stage_data['passes completed team2']
deltas['crosses'] = group_stage_data['crosses team1'] - group_stage_data['crosses team2']
deltas['crosses completed'] = group_stage_data['crosses completed team1'] - group_stage_data['crosses completed team2']
deltas['corners'] = group_stage_data['corners team1'] - group_stage_data['corners team2']
deltas['free kicks'] = group_stage_data['free kicks team1'] - group_stage_data['free kicks team2']
deltas['penalties scored'] = group_stage_data['penalties scored team1'] - group_stage_data['penalties scored team2']
deltas['goal preventions'] = group_stage_data['goal preventions team1'] - group_stage_data['goal preventions team2']
deltas['forced turnovers'] = group_stage_data['forced turnovers team1'] - group_stage_data['forced turnovers team2']
deltas['defensive pressures applied'] = group_stage_data['defensive pressures applied team1'] - group_stage_data['defensive pressures applied team2']

deltas.head()

,team1 won,possession,total attempts,conceded,goal inside the penalty area,goal outside the penalty area,assists,on target attempts,off target attempts,attempts inside the penalty area,...,passes,passes completed,crosses,crosses completed,corners,free kicks,penalties scored,goal preventions,forced turnovers,defensive pressures applied
0,False,-0.08,-1,2,-2,0,-1,-3,2,-2,...,-30,-28,-5,0,-2,2,-1,1,-20,-23
1,True,0.53,5,-4,4,0,5,4,-1,4,...,585,576,15,6,8,6,-1,-5,-9,-277
2,False,-0.01,5,2,-2,0,-1,0,3,2,...,-55,-61,-6,-1,-1,0,0,-6,-10,12
3,False,0.12,-1,0,0,0,1,-2,1,-1,...,160,188,16,-2,2,-4,-1,0,9,-50
4,False,0.40,11,1,-1,0,-1,4,5,7,...,343,339,20,10,7,6,1,-10,-15,-198

In [50]:
# Creating arrays for each team that represent the averages of all of their performances from individual group stage matches:
team_data = group_stage_data.copy()

# Cleaning up the team_data DF:
team_data = team_data.drop(['category'], axis=1)
team_data = team_data.drop(['team1 won'], axis=1)
team_data['possession team1'] = team_data['possession team1'].str.rstrip('%').astype('float') / 100.0
team_data['possession team2'] = team_data['possession team2'].str.rstrip('%').astype('float') / 100.0

team_data

,team1,team2,possession team1,possession team2,number of goals team1,number of goals team2,total attempts team1,total attempts team2,conceded team1,conceded team2,...,free kicks team1,free kicks team2,penalties scored team1,penalties scored team2,goal preventions team1,goal preventions team2,forced turnovers team1,forced turnovers team2,defensive pressures applied team1,defensive pressures applied team2
0,QATAR,ECUADOR,0.42,0.50,0,2,5,6,2,0,...,19,17,0,1,6,5,52,72,256,279
1,ENGLAND,IRAN,0.72,0.19,6,2,13,8,2,6,...,16,10,0,1,8,13,63,72,139,416
2,SENEGAL,NETHERLANDS,0.44,0.45,0,2,14,9,2,0,...,14,14,0,0,9,15,63,73,263,251
3,UNITED STATES,WALES,0.51,0.39,1,1,6,7,1,1,...,11,15,0,1,7,7,81,72,242,292
4,ARGENTINA,SAUDI ARABIA,0.64,0.24,1,2,14,3,2,1,...,22,16,1,0,4,14,65,80,163,361
5,DENMARK,TUNISIA,0.55,0.33,0,0,11,11,0,0,...,11,10,0,0,11,11,76,73,226,287
6,MEXICO,POLAND,0.54,0.31,0,0,13,8,0,0,...,16,16,0,0,8,15,61,70,193,290
7,FRANCE,AUSTRALIA,0.56,0.35,4,1,22,4,1,4,...,11,5,0,0,4,22,64,56,250,316
8,MOROCCO,CROATIA,0.32,0.57,0,0,8,6,0,0,...,12,17,0,0,7,8,87,58,391,217
9,GERMANY,JAPAN,0.65,0.22,1,2,25,10,2,1,...,17,10,1,0,12,26,55,87,164,487
10,SPAIN,COSTA RICA,0.74,0.17,7,0,17,0,0,7,...,18,11,1,0,0,17,46,76,185,585
11,BELGIUM,CANADA,0.46,0.43,1,0,9,21,0,1,...,15,10,0,0,21,9,74,47,284,320
12,SWITZERLAND,CAMEROON,0.43,0.46,1,0,8,7,0,1,...,11,14,0,0,7,8,64,79,313,316
13,URUGUAY,KOREA REPUBLIC,0.49,0.38,0,0,10,6,0,0,...,10,8,0,0,6,10,65,54,240,231
14,PORTUGAL,GHANA,0.55,0.35,3,2,11,8,2,3,...,19,15,1,0,8,11,70,82,286,326
15,BRAZIL,SERBIA,0.53,0.34,2,0,24,4,0,2,...,12,8,0,0,4,24,72,71,236,338
16,WALES,IRAN,0.51,0.33,0,2,10,21,2,0,...,12,11,0,0,21,9,89,84,161,276
17,QATAR,SENEGAL,0.42,0.48,1,3,10,12,3,1,...,15,11,0,0,12,11,67,67,308,232
18,NETHERLANDS,ECUADOR,0.48,0.39,1,1,2,13,1,1,...,16,16,0,0,14,2,85,52,254,279
19,ENGLAND,UNITED STATES,0.51,0.40,0,0,8,10,0,0,...,15,10,0,0,10,8,52,61,266,350
20,TUNISIA,AUSTRALIA,0.50,0.31,0,1,13,8,1,0,...,15,19,0,0,9,13,81,88,217,273
21,POLAND,SAUDI ARABIA,0.30,0.57,2,0,8,16,0,2,...,15,17,0,0,16,9,69,53,329,173
22,FRANCE,DENMARK,0.44,0.44,2,1,21,10,1,2,...,10,5,0,0,10,21,79,61,269,282
23,ARGENTINA,MEXICO,0.50,0.36,2,0,5,4,0,2,...,23,17,0,0,4,5,63,79,220,327
24,JAPAN,COSTA RICA,0.48,0.39,0,1,14,4,1,0,...,11,22,0,0,4,14,47,66,300,294
25,BELGIUM,MOROCCO,0.56,0.32,0,2,10,11,2,0,...,17,13,0,0,11,10,38,78,194,360
26,CROATIA,CANADA,0.41,0.46,4,1,13,9,1,4,...,8,14,0,0,9,13,87,72,347,316
27,SPAIN,GERMANY,0.56,0.33,1,1,7,10,1,1,...,16,15,0,0,11,7,79,101,275,387
28,CAMEROON,SERBIA,0.38,0.49,3,3,13,16,3,3,...,17,8,0,0,16,13,83,81,285,234
29,KOREA REPUBLIC,GHANA,0.53,0.32,2,3,21,8,3,2,...,10,14,0,0,8,21,53,75,220,324
30,BRAZIL,SWITZERLAND,0.51,0.40,1,0,9,4,0,1,...,18,13,0,0,4,9,85,80,282,344
31,PORTUGAL,URUGUAY,0.53,0.35,2,0,14,10,0,2,...,15,13,1,0,11,14,68,81,226,362
32,NETHERLANDS,QATAR,0.54,0.38,2,0,13,6,0,2,...,9,24,0,0,5,14,62,52,319,322
33,ECUADOR,SENEGAL,0.51,0.32,1,2,8,15,2,1,...,14,22,0,1,15,8,59,62,190,243
34,WALES,ENGLAND,0.33,0.58,0,3,7,17,3,0,...,10,17,0,0,17,8,49,56,328,167
35,IRAN,UNITED STATES,0.42,0.45,0,1,6,12,1,0,...,11,15,0,0,13,6,63,74,295,302
36,AUSTRALIA,DENMARK,0.24,0.60,1,0,8,14,0,1,...,13,12,0,0,14,8,90,74,341,161
37,TUNISIA,FRANCE,0.30,0.56,1,0,5,9,0,1,...,8,17,0,0,11,6,68,80,400,202
38,POLAND,ARGENTINA,0.24,0.67,0,2,4,25,2,0,...,12,5,0,0,25,4,67,48,438,141
39,SAUDI ARABIA,MEXICO,0.29,0.55,1,2,10,25,2,1,...,23,22,0,0,26,10,82,76,269,229
40,CROATIA,BELGIUM,0.43,0.47,0,0,11,15,0,0,...,9,11,0,0,16,11,70,68,328,346
41,CANADA,MOROCCO,0.52,0.36,1,2,5,7,2,1,...,18,18,0,0,7,7,66,72,224,324
42,JAPAN,SPAIN,0.14,0.78,2,1,6,14,1,2,...,8,11,0,0,14,6,85,49,637,150
43,COSTA RICA,GERMANY,0.27,0.60,2,4,8,32,4,2,...,12,7,0,0,32,8,79,77,378,230
44,GHANA,URUGUAY,0.46,0.39,0,2,9,12,2,0,...,12,20,0,0,12,9,92,84,248,293
45,KOREA REPUBLIC,PORTUGAL,0.34,0.55,2,1,12,12,1,2,...,15,10,0,0,14,12,54,50,359,233
46,SERBIA,SWITZERLAND,0.45,0.41,2,3,11,14,3,2,...,14,18,0,0,14,10,74,82,276,253
47,CAMEROON,BRAZIL,0.31,0.56,1,0,7,19,0,1,...,15,14,0,0,20,7,78,54,321,226

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Splitting the data into X, our predictor variables, and Y, what we're trying to predict
# The X dataframe is the deltas dataframe without the first column
X = deltas.iloc[:, 1:]
# The Y dataframe is the first column of the deltas dataframe
Y = deltas.iloc[:, 0]

# One-hot encoding the team1 and team2 columns of the X data:
#X = pd.get_dummies(X, columns=['team1', 'team2'])

# Train, test, splitting the data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [28]:
# Making an instance of the linear regression model
log_reg = LogisticRegression(max_iter=10000)

# Fitting the model to the data
log_reg.fit(X_train, Y_train)

# Seeing how the model performs on the test data
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(log_reg.score(X_test, Y_test)))

Accuracy of logistic regression classifier on test set: 0.70

In [26]:
# Target leakage: Regressing features on an outcome but the outcome is highly correlated on the features

# Don't necessarily need team names because the rest of the data accounts for them
# Should run it with and without team names

# for every potential pair-wise matchup, evaluate vector for two teams
# put into regression using predict.proba() and it will give a matchup for the two teams

SyntaxError: invalid syntax (<ipython-input-26-8019d0a31443>, line 4)