<a href="https://colab.research.google.com/github/vrhughes/DS3001Group/blob/development/worldcupdata2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np # Import the numpy package into your workspace
import matplotlib.pyplot as plt # Import matplotlib into your workspace
import pandas as pd  # Import the pandas package into your workspace

df = pd.read_csv('international_matches 3.csv')

print(df.head())

         date home_team     away_team home_team_continent away_team_continent  \
0  1993-08-08   Bolivia       Uruguay       South America       South America
1  1993-08-08    Brazil        Mexico       South America       North America
2  1993-08-08   Ecuador     Venezuela       South America       South America
3  1993-08-08    Guinea  Sierra Leone              Africa              Africa
4  1993-08-08  Paraguay     Argentina       South America       South America

   home_team_fifa_rank  away_team_fifa_rank  home_team_total_fifa_points  \
0                   59                   22                            0
1                    8                   14                            0
2                   35                   94                            0
3                   65                   86                            0
4                   67                    5                            0

   away_team_total_fifa_points  home_team_score  ...  shoot_out  \
0                            0                3  ...         No
1                            0                1  ...         No
2                            0                5  ...         No
3                            0                1  ...         No
4                            0                1  ...         No

  home_team_result home_team_goalkeeper_score away_team_goalkeeper_score  \
0              Win                        NaN                        NaN
1             Draw                        NaN                        NaN
2              Win                        NaN                        NaN
3              Win                        NaN                        NaN
4             Lose                        NaN                        NaN

   home_team_mean_defense_score home_team_mean_offense_score  \
0                           NaN                          NaN
1                           NaN                          NaN
2                           NaN                          NaN
3                           NaN                          NaN
4                           NaN                          NaN

  home_team_mean_midfield_score  away_team_mean_defense_score  \
0                           NaN                           NaN
1                           NaN                           NaN
2                           NaN                           NaN
3                           NaN                           NaN
4                           NaN                           NaN

   away_team_mean_offense_score  away_team_mean_midfield_score
0                           NaN                            NaN
1                           NaN                            NaN
2                           NaN                            NaN
3                           NaN                            NaN
4                           NaN                            NaN

[5 rows x 25 columns]

In [ ]:
# date column is datatime type
df['date'] = pd.to_datetime(df['date'])

# filter to only have dates past 2020
df_cleaned = df[df['date']>='2008-01-01']
print(df_cleaned.head())

            date home_team away_team home_team_continent away_team_continent  \
11041 2008-01-02    Kuwait   Lebanon                Asia                Asia
11042 2008-01-05     Egypt   Namibia              Africa              Africa
11043 2008-01-06   Tunisia    Zambia              Africa              Africa
11044 2008-01-08   Tunisia    Zambia              Africa              Africa
11045 2008-01-09   Nigeria     Sudan              Africa              Africa

       home_team_fifa_rank  away_team_fifa_rank  home_team_total_fifa_points  \
11041                  119                  134                            0
11042                   39                  114                            0
11043                   47                   65                            0
11044                   47                   65                            0
11045                   20                   92                            0

       away_team_total_fifa_points  home_team_score  ...  shoot_out  \
11041                            0                3  ...         No
11042                            0                3  ...         No
11043                            0                1  ...         No
11044                            0                1  ...         No
11045                            0                2  ...         No

      home_team_result home_team_goalkeeper_score away_team_goalkeeper_score  \
11041              Win                        NaN                        NaN
11042              Win                       67.0                        NaN
11043             Lose                        NaN                        NaN
11044              Win                        NaN                        NaN
11045              Win                       78.0                        NaN

       home_team_mean_defense_score home_team_mean_offense_score  \
11041                           NaN                          NaN
11042                           NaN                         77.7
11043                          72.8                         70.7
11044                          72.8                         70.7
11045                          77.5                         82.0

      home_team_mean_midfield_score  away_team_mean_defense_score  \
11041                           NaN                           NaN
11042                           NaN                           NaN
11043                          70.2                           NaN
11044                          70.2                           NaN
11045                          79.2                           NaN

       away_team_mean_offense_score  away_team_mean_midfield_score
11041                           NaN                            NaN
11042                           NaN                            NaN
11043                          72.3                            NaN
11044                          72.3                            NaN
11045                           NaN                            NaN

[5 rows x 25 columns]

In [ ]:
#create playing_teams list with only the teams playing in the world cup
playing_team = ['Qatar', 'Ecuador', 'Senegal', 'Netherlands', 'England',
                 'Iran', 'IR Iran', 'United States', 'Wales', 'Argentina', 'Saudi Arabia',
                 'Mexico', 'Poland', 'France', 'Australia', 'Denmark', 'Tunisia',
                 'Spain', 'Costa Rica', 'Germany', 'Japan', 'Belgium', 'Canada',
                 'Morocco', 'Croatia', 'Brazil', 'Serbia', 'Switzerland', 'Cameroon',
                 'Portugal', 'Ghana', 'Uruguay', 'South Korea', 'Korea Republic']

# both the home_team and away_team are in playing_team list
df_cleaned = df_cleaned[(df_cleaned['home_team'].isin(playing_team)) & (df_cleaned['away_team'].isin(playing_team))]


print(df_cleaned.head())

            date home_team   away_team home_team_continent  \
11047 2008-01-10     Qatar     IR Iran                Asia
11076 2008-01-23   Tunisia     Senegal              Africa
11093 2008-01-28     Ghana     Morocco              Africa
11102 2008-01-30   IR Iran  Costa Rica                Asia
11121 2008-02-04   Tunisia    Cameroon              Africa

      away_team_continent  home_team_fifa_rank  away_team_fifa_rank  \
11047                Asia                   87                   41
11076              Africa                   46                   40
11093              Africa                   43                   39
11102       North America                   41                   69
11121              Africa                   46                   25

       home_team_total_fifa_points  away_team_total_fifa_points  \
11047                            0                            0
11076                            0                            0
11093                            0                            0
11102                            0                            0
11121                            0                            0

       home_team_score  ...  shoot_out home_team_result  \
11047                0  ...         No             Draw
11076                2  ...         No             Draw
11093                2  ...         No              Win
11102                0  ...         No             Draw
11121                2  ...         No             Lose

      home_team_goalkeeper_score away_team_goalkeeper_score  \
11047                        NaN                        NaN
11076                        NaN                       63.0
11093                       66.0                       75.0
11102                        NaN                        NaN
11121                        NaN                       79.0

       home_team_mean_defense_score home_team_mean_offense_score  \
11047                           NaN                          NaN
11076                          72.8                         70.7
11093                          76.2                         74.7
11102                           NaN                          NaN
11121                          72.8                         70.7

      home_team_mean_midfield_score  away_team_mean_defense_score  \
11047                           NaN                           NaN
11076                          70.2                          76.8
11093                          80.8                          74.2
11102                           NaN                          66.0
11121                          70.2                          76.5

       away_team_mean_offense_score  away_team_mean_midfield_score
11047                           NaN                            NaN
11076                          81.3                           74.8
11093                          77.3                           71.5
11102                          72.0                           60.8
11121                          80.7                           77.0

[5 rows x 25 columns]

In [ ]:
# delete the columns in the data frame
df_cleaned.drop(columns=['home_team_continent', 'away_team_continent', 'tournament', 'city', 'country'], inplace=True)
print(df_cleaned.head())

            date home_team   away_team  home_team_fifa_rank  \
11047 2008-01-10     Qatar     IR Iran                   87
11076 2008-01-23   Tunisia     Senegal                   46
11093 2008-01-28     Ghana     Morocco                   43
11102 2008-01-30   IR Iran  Costa Rica                   41
11121 2008-02-04   Tunisia    Cameroon                   46

       away_team_fifa_rank  home_team_total_fifa_points  \
11047                   41                            0
11076                   40                            0
11093                   39                            0
11102                   69                            0
11121                   25                            0

       away_team_total_fifa_points  home_team_score  away_team_score  \
11047                            0                0                0
11076                            0                2                2
11093                            0                2                0
11102                            0                0                0
11121                            0                2                3

       neutral_location shoot_out home_team_result  \
11047             False        No             Draw
11076              True        No             Draw
11093             False        No              Win
11102             False        No             Draw
11121              True        No             Lose

       home_team_goalkeeper_score  away_team_goalkeeper_score  \
11047                         NaN                         NaN
11076                         NaN                        63.0
11093                        66.0                        75.0
11102                         NaN                         NaN
11121                         NaN                        79.0

       home_team_mean_defense_score  home_team_mean_offense_score  \
11047                           NaN                           NaN
11076                          72.8                          70.7
11093                          76.2                          74.7
11102                           NaN                           NaN
11121                          72.8                          70.7

       home_team_mean_midfield_score  away_team_mean_defense_score  \
11047                            NaN                           NaN
11076                           70.2                          76.8
11093                           80.8                          74.2
11102                            NaN                          66.0
11121                           70.2                          76.5

       away_team_mean_offense_score  away_team_mean_midfield_score
11047                           NaN                            NaN
11076                          81.3                           74.8
11093                          77.3                           71.5
11102                          72.0                           60.8
11121                          80.7                           77.0